@import 'tailwind.css';
@import 'fonts.css';

body,
html,
body > div {
  border: 0;
  padding: 0;
  margin: 0;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.active {
  border-bottom: 2px solid #fff;
}
.active:hover {
  border-bottom: 4px solid #fff;
  font-weight: bold;
}

li {
  list-style-type: none;
}

.checkmark {
  display: inline-block;
  width: 93px;
  height: 93px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
}

.checkmark_circle {
  position: absolute;
  width: 93px;
  height: 93px;
  background-color: #fff;
  border-radius: 50%;
  left: 0;
  top: 0;
}

.checkmark_stem {
  position: absolute;
  width: 3px;
  height: 20px;
  background-color: #000;
  left: 11px;
  top: 1px;
  border-radius: 10px;
}

.checkmark_kick {
  position: absolute;
  width: 12px;
  height: 3px;
  background-color: #000;
  left: 2px;
  top: 19px;
  border-radius: 10px;
}
