@import 'tailwind.css';
@import 'fonts.css';

/* body {
  margin: 0;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

body, html, body > div {
  height: 100%;
  border: 0;
  padding: 0;
  margin: 0;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.active {
  border-bottom: 2px solid #003a6c;
}
.active:hover {
  border-bottom: 4px solid #003a6c;
  font-weight: bold;
}

li {
  list-style-type: none;
}
